@charset "utf-8";
/* CSS Document */

html {
    position: relative;
    min-height: 100%;
}

body {
	padding-top: 120px !important;
    margin: 0px auto 125px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    background-color: #FFFFFF;
    background-repeat: repeat;
}

p { 
	margin-top:0px;
}

a:active{
	text-decoration:none;
	color:#ff3333;
}

a:visited{
	text-decoration:none;
	color:#ff3333;
}

a:link{
	text-decoration:none;
	color:#ff3333;
}

a:hover{
	text-decoration:none;
	color:#ff3333;
}

.wrapper {
    width: 860px;
    margin: 0px auto;
	background-color:#FFFFFF;
    
}

#headline1{
	background-color:#000000;
	text-align:center;	
	height:auto;
}

#headline3{
    background-position:bottom;
    background-repeat:no-repeat;
    text-align:right;
    margin-top:4px;
    margin-right:10px;
    text-align:center;
}

#infobox{
	float:left;
	background-image:url(../images/infobox.png);
	background-repeat:no-repeat;
	height:225px;
	width:400px;
	padding:25px 20px 25px 15px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
}

#contentbox_main{
	/*padding:0px 15px 0px 15px;*/
	font-size:14px;
	padding-right: 20px; 
	padding-top: 150px; 
	padding-left: 20px; 
	padding-bottom: 50px; 
	position: relative; 
	border: solid 5px #636363;
}

#contentbox{
	padding:0px 20px;
	font-size:14px;
	text-align:justify;
}

#headline2{
	background-image:url(../images/h2bg.jpg);
	background-position:bottom;
	background-repeat:repeat-x;
	text-align:center;	
}


.title_text{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:20px;
	color: #565656;
}
.red_text{
	color: #FF0000
}

.blue_text{
	color:#0099FF
}

.subtitle_text{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
}

#footer1{
	font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 100px;
    background-color: #6182a2;
    color: white;
   /* position: absolute; */
    width: 100%;
    bottom: 0;
}

#footer1 a:hover{
	color:#0066FF !important;
	text-decoration:none;
}

#footer1 a:link{
	color:#666666;
	text-decoration:none;
}

#footer1 a:visited{
	color:#666666;
	text-decoration:none;
}

#footer1 a:active{
	color:#666666;
	text-decoration:none;
}

#yesno_box{
	text-align:center;
}

#yesno_text{
	font-size:20px;
}

.yes_button{
	cursor:pointer;
	border:none;
	background:transparent;
	background-image:url(../images/yes_button.png);
	width:120px;
	height:50px;
	margin-right:100px;
}

.no_button{
	cursor:pointer;
	border:none;
	background:transparent;
	background-image:url(../images/no_button.png);
	width:120px;
	height:50px
}

.submit_button{
	cursor:pointer;
	border:none;
	background:transparent;
	background-image:url(../images/submit_button.png);
	background-position:center;
	width:200px;
	height:50px;
}

.submit_button_form{
	cursor: pointer;
	border: 3px solid;
	background: transparent;
	/*background-image:url(../images/submit_button_form.png);*/
	background-position: center;
	width: 160px;
	height: 42px;
	font-size: 22px;
	background-color: #565656;
	border-color: #e6e6af;
	color: #fff;
	font-weight: 800;
	box-shadow: 0 0 10px #e6e6af;
	text-transform: uppercase;
	border-radius: 36px;
	-moz-border-radius: 36px; 
	-webkit-border-radius: 36px; 
}

.start_survey_button{
	cursor:pointer;
	border:none;
	background:transparent;
	background-image:url(../images/start_survey_button.png);
	background-position:center;
	width:186px;
	height:31px;
}

#progress_bar_box{
	visibility: hidden;
	height:0;
	background-position:top center;
	background-repeat:no-repeat;
	background-image:url(../images/progressbar.png);
}

#progress_bar_holder {
    display: table-cell;
    padding-left: 46px;
    padding-top: 54px;
    vertical-align: top;
    width: 768px;
}

.cell_shade{
	background-color:#189EF7;
}
.cell_noshade{
	background-color:#CCCCCC;
}

#form_box{
  
}

#form_box label{
	display: inline-block;
	padding-right: 10px;
	height:25px;	
}

#form_box label.error{
	float:right;
	color:red;
	clear:both;
	width:60px;
}

label.error{
	color: red;
	font-size: 12px;
	margin-left: 5px;
	padding-left: 0 !important;
}

/* Blue Path Edits */
.blue-header-main img { display: inline-block; }
.blue-header-main h2 { display: none; }
.blue-header-main p { display: none; }
/* Blue Path Edits */

/* CONTENT */
.content-desktop { display: block; width: 600px; vertical-align: middle; }
.content-desktop .home-img { float: left; padding-right: 35px; }
.content-desktop .text-content { padding: 15px 0 0; text-align: left; }
.content-desktop .text-content p { font-size: 17px; color: #515151; }
.content-mobile { display: none; }

#contentbox #form_box { width: auto; margin: 0 auto; }

.form-select-birth .selectmonthcont { float: left; }
.form-select-birth .selectdaycont { float: left; }
.form-select-birth .selectyearcont { float: left; }
.form-select-birth .dash { float: left; padding: 0 3px; }

#contentbox div#form_box form .form-select-birth .selectmonthcont select { width: 65px !important; }
#contentbox div#form_box form .form-select-birth .selectdaycont select { width: 65px !important; }
#contentbox div#form_box form .form-select-birth .selectyearcont select { width: 80px !important; }

.form-input-section { clear: both; margin: 0 0 5px; }
.form-input-section label { 
	height: auto !important;
	line-height: 22px;
	float: left; 
	width: 35%; 
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; 
}
.form-input-section input[type="text"] { float: left; width: 65%; 
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;  
}
.form-input-section select { float: left; width: 65%; 
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; 
}
.form-select-birth > select { float: none; width: 20% !important; } 

.more-content { display: none; }
.form-input-gender { position: relative; }
.form-input-gender label.error {
    float: right !important;
    position: absolute;
    right: 0;
    top: 2px;
}
#form_box .error[for="email"] { padding: 0; text-align: right; width: auto !important; }
#form_box .error[for="zip"] { padding: 0; text-align: right; width: auto !important; }
.fixed-button { display: inline; }

.yes-no-desktop { display: inline; }
.yes-no-mobile { display: none; }
.confirm-form-desktop { display: inline; }
.confirm-form-mobile { display: none; }

#formtable > tbody > tr > td > input[name="phone3"] { width: 40px !important; }
table#formtable tr td:first-child { width: 50%; }

.the-progress {
	background-color: #189ef7;
	display: none;
	height: 100%;
	position: absolute;
	z-index: 1;
}

.exit-content { float: left; margin: 0 0 15px; }
.exit-content-inner { width: 80%; float: left; }
.exit-content-inner h3 { margin: 0; }
.exit-content-input { width: 20%; float: left; }

.pink { color: #da326f; }

#contentbox iframe#iff-parentiframe { height: 1500px; }

#formtable td > label { padding-left: 14px; position: relative; display: inline-block; }
label label.error { left: 0; position: absolute !important; }

/* RADIO BUTTON */

#hostedform_main input[type="radio"] { display: none; }
#hostedform_main input[type="radio"] + label.class-yes {
	background: url(../images/yes-button.png) no-repeat center #458b04;
	color: #fff;
	display: inline-block;
	padding: 10px 30px;
	width: 50px;
	height: 28px;
	font-size: 0 !important;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 5px 10px;
	cursor: pointer;
	vertical-align: middle;
}
#hostedform_main input[type="radio"] + label.class-no {
	background: url(../images/no-button.png) no-repeat center #c61e2f;
	color: #fff;
	display: inline-block;
	padding: 10px 30px;
	width: 50px;
	height: 28px;
	font-size: 0 !important;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 5px 10px;
	cursor: pointer;
	vertical-align: middle;
}
/*#contentbox > div > input[type="radio"], 
#contentbox > div > div > input[type="radio"], 
#contentbox > form > div > input[type="radio"],
#contentbox > form > div > div > input[type="radio"],
#formtable > tbody > tr > td > input[type="radio"],
#formtable > tbody > tr > td > div > input[type="radio"] { 
	display: none; 
}*/
#contentbox > div > input[type="radio"] + label.class-yes, 
#contentbox > div > div > input[type="radio"] + label.class-yes,
#contentbox > form > div > input[type="radio"] + label.class-yes,
#contentbox > form > div > div > input[type="radio"] + label.class-yes,
#formtable > tbody > tr > td > input[type="radio"] + label.class-yes {
	background: url(../images/yes-button.png) no-repeat center #458b04;
	color: #fff;
	display: inline-block;
	padding: 10px 30px;
	width: 50px;
	height: 28px;
	font-size: 0 !important;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 5px 10px;
	cursor: pointer;
	vertical-align: middle;
}
#formtable > tbody > tr > td > div > input[type="radio"] + label.class-yes {
	background: url(../images/submit-button.png) no-repeat center #458b04;
	color: #fff;
	display: inline-block;
	padding: 10px 30px;
	width: 50px;
	height: 28px;
	font-size: 0 !important;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 5px 10px;
	cursor: pointer;
	vertical-align: middle;
}
#contentbox > div > input[type="radio"] + label.class-no, 
#contentbox > div > div > input[type="radio"] + label.class-no,
#contentbox > form > div > input[type="radio"] + label.class-no,
#contentbox > form > div > div > input[type="radio"] + label.class-no,
#formtable > tbody > tr > td > input[type="radio"] + label.class-no {
	background: url(../images/no-button.png) no-repeat center #c61e2f;
	color: #fff;
	display: inline-block;
	padding: 10px 30px;
	width: 50px;
	height: 28px;
	font-size: 0 !important;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 5px 10px;
	cursor: pointer;
	vertical-align: middle;
}
#formtable > tbody > tr > td > div > input[type="radio"] + label.class-no {
	background: url(../images/cancel-button.png) no-repeat center #c61e2f;
	color: #fff;
	display: inline-block;
	padding: 10px 30px;
	width: 50px;
	height: 28px;
	font-size: 0 !important;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 5px 10px;
	cursor: pointer;
	vertical-align: middle;
}

/* RADIO BUTTON */

.free-stuff-continue { text-align: center; }
.free-stuff-continue input[type="button"] { 
	display: inline-block;
	background: url("../images/submit_button_form.png") no-repeat;
	width: 162px !important;
	height: 44px !important;
	border: none;
	cursor: pointer;
	font-size: 0;
	line-height: 0;
}

/* NEW STYLES */
#form_box2 { width: 350px; margin: 0px auto 20px; }
.desktop-tcpa-1 { display: block; text-align: left; font-size: 10px; line-height: 13px; width: 490px; margin: 0 auto; }
/* NEW STYLES */

/* ETHNICITY */
.form-main-gender > label { margin-top: 10px; }
.form-input-gender > label {
	padding: 0 !important; 
	float: none;
	cursor: pointer;
	font-size: 0;
	width: auto !important;
	height: auto !important;
}
/*.form-input-gender > input[type=radio] { display: none; }*/
.form-input-gender > input[type=radio] + label.gender-m {
	width: 84px !important;
	height: 34px !important;
	background: url(../images/gender_buttons.png) no-repeat 0 0;
}
.form-input-gender > input[type=radio]:checked + label.gender-m {
	background-position: 0 -34px;
}
.form-input-gender > input[type=radio] + label.gender-f {
	width: 84px !important;
	height: 34px !important;
	background: url(../images/gender_buttons.png) no-repeat -84px 0;
}
.form-input-gender > input[type=radio]:checked + label.gender-f {
	background-position: -84px -34px;
}
.form-input-gender > input[type=radio].error + label { border: 2px solid #ff0000; }
.form-input-diabetes { position: relative; }

.form-input-diabetes > label {
	padding: 0 !important; 
	float: none;
	cursor: pointer;
	font-size: 0;
	width: auto !important;
	height: auto !important;
}

.form-input-diabetes > input[type=radio] { display: none; }
.form-input-diabetes > input[type=radio] + label.diabetes-yes {
	width: 84px !important;
	height: 34px !important;
	background: url(../images/diabetes_buttons.png) no-repeat 0 0;
}
.form-input-diabetes > input[type=radio]:checked + label.diabetes-yes {
	background-position: 0 -34px;
}
.form-input-diabetes > input[type=radio] + label.diabetes-no {
	width: 84px !important;
	height: 34px !important;
	background: url(../images/diabetes_buttons.png) no-repeat -84px 0;
}
.form-input-diabetes > input[type=radio]:checked + label.diabetes-no {
	background-position: -84px -34px;
}
.form-input-diabetes > input[type=radio].error + label { border: 2px solid #ff0000; }

/*
#formtable > tbody > tr > td > label.formtable-yes { margin-top: 3px; vertical-align: middle; padding: 0; cursor: pointer; }
#formtable > tbody > tr > td > label.formtable-no { margin-top: 3px; vertical-align: middle; padding: 0; cursor: pointer; }

#formtable > tbody > tr > td > input[type="radio"] + label.formtable-yes {
	width: 84px !important;
	height: 34px !important;
	background: url(../images/diabetes_buttons.png) no-repeat 0 0;
}
#formtable > tbody > tr > td > input[type="radio"]:checked + label.formtable-yes {
	background-position: 0 -34px;
}
#formtable > tbody > tr > td > input[type="radio"] + label.formtable-no {
	width: 84px !important;
	height: 34px !important;
	background: url(../images/diabetes_buttons.png) no-repeat -84px 0;
}
#formtable > tbody > tr > td > input[type="radio"]:checked + label.formtable-no {
	background-position: -84px -34px;
}
*/

/* CLINICAL QUESTIONS */
.clinical-questions { padding: 20px 0; width: 600px; }
.clinical-questions h2 { color: #1d83cb; margin-bottom: 20px; }
.clinical-questions h3 { margin-bottom: 20px; }
.new-question-indi { padding: 10px 0; border-bottom: 1px solid #d4d4d4; }
.new-question-indi > p { width: 65%; float: left; color: #333; font-weight: 400; margin-bottom: 5px; }

.new-question-input { }
.new-question-input > input[type="radio"] { display: none; }
.new-question-input > label.new-question-yes { display: inline-block; vertical-align: middle; font-size: 0; padding: 0; cursor: pointer; }
.new-question-input > label.new-question-no { display: inline-block; vertical-align: middle; font-size: 0; padding: 0; cursor: pointer; }
.new-question-input > input[type="radio"] + label.new-question-yes {
	width: 84px !important;
	height: 34px !important;
	background: url(../images/diabetes_buttons.png) no-repeat 0 0;
}
.new-question-input > input[type="radio"]:checked + label.new-question-yes {
	background-position: 0 -34px;
}
.new-question-input > input[type="radio"] + label.new-question-no {
	width: 84px !important;
	height: 34px !important;
	background: url(../images/diabetes_buttons.png) no-repeat -84px 0;
}
.new-question-input > input[type="radio"]:checked + label.new-question-no {
	background-position: -84px -34px;
}
/* CLINICAL QUESTIONS */

/* NEW LEAD REACTOR CSS START */
.click-yes {
	background: url(../images/yes-button.png) no-repeat center #458b04;
	/*color: #fff;*/
	display: inline-block;
	padding: 24px 55px;
	/*width: 50px;*/
	/*height: 28px;*/
	font-size: 0 !important;
	/*text-transform: uppercase;*/
	/*font-weight: 700;*/
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 5px 10px;
	cursor: pointer;
	vertical-align: middle;
	border: none;
}

.click-no {
	background: url(../images/no-button.png) no-repeat center #c61e2f;
	color: #fff;
	display: inline-block;
	padding: 10px 30px;
	width: 50px;
	height: 28px;
	font-size: 0 !important;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 5px 10px;
	cursor: pointer;
	vertical-align: middle;
	border: none;
}

.click-submit {
	background: url(../images/submit-button.png) no-repeat center #458b04;
	display: inline-block;
	padding: 24px 55px;
	font-size: 0 !important;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 5px 10px;
	cursor: pointer;
	vertical-align: middle;
	border: none;
}

.click-cancel {
	background: url(../images/cancel-button.png) no-repeat center #458b04;
	display: inline-block;
	padding: 24px 55px;
	font-size: 0 !important;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 5px 10px;
	cursor: pointer;
	vertical-align: middle;
	border: none;
}

.style1 {
	color: #FF0000;
	font-weight: bold;
}
.redtext{
	color: #FF0000;
}
input[type="text"].error{
	border:#FF0000 thin solid; 
}
select.error{
	border:#FF0000 thin solid; 
}
input[type="checkbox"].error{
	width:15px;border:#FF0000 thin solid;
	background-color:#FF0000;
	background:#FF0000; 
}

select.error, textarea.error, input[type="text"].error{ border:#FF0000 thin solid; }

input[type="checkbox"].error + label { color: red; }

label.error{
    color: red;
    font-size: 12px;
    margin-left: 5px;
	padding-left: 0 !important;
}
/*.form-input-gender > input[type=radio] { display: none; }*/

/*.form-input-questions > input[type=radio] { display: none; }
.form-input-questions > input[type=radio] + label.diabetes-yes {
	width: 84px !important;
	height: 34px !important;
	background: url(../images/no_yes_button.png) no-repeat 0 0;
}
.form-input-questions > input[type=radio]:checked + label.diabetes-yes {
	background-position: 0 -34px;
}
.form-input-questions > input[type=radio] + label.diabetes-no {
	width: 84px !important;
	height: 34px !important;
	background: url(../images/no_yes_button.png) no-repeat -84px 0;
}
.form-input-questions > input[type=radio]:checked + label.diabetes-no {
	background-position: -84px -34px;
}
.form-input-questions > input[type=radio].error + label { border: 2px solid #ff0000; }

.form-input-questions > label {
	padding: 0 !important; 
	float: none;
	cursor: pointer;
	font-size: 0;
	width: auto !important;
	height: auto !important;
}*/
/* FOR INTRO */
.submit-intro-btn {
  background: #565656;
  font-size: 25px !important;
  color: #fff;
  line-height: normal;
  border: 0;
  height: auto;
  width: 185px;
  padding: 17px 0;
  font-weight: 800;
  border-radius: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
/**/
.the-submit-btn {
  	background: #565656;
  	color: #fff;
  	border-radius: 30px;
  	-moz-border-radius: 30px;
  	-webkit-border-radius: 30px;
  	padding: 0px 20px;
  	font-weight: 800;
  	font-size: 24px;
  	border: #FFFFCF 5px solid;
  	text-transform: uppercase;
}

input[type="radio"], input[type="checkbox"] {
	width: 22px;
    height: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    border: 1px solid #bbb;
}

.form-input-section.agree-terms {
    font-size: 18px;
    color: #565656;
    text-align: left;
}

.form-input-section input[type="text"] {
    border: 2px solid #565656;
	width: 180px;
    padding: 8px;
    background: #fff;
    float: none;
}

.form-input-section select {
    display: inline-block;
    float: none;
    padding: 8px;
    border: 2px solid #565656;
	background: #fff;
	font-size: 12px;
}

.filter_questions_here, .form-input-gender {
   font-size: 18px;
   color: #565656;	
}

/* 05/12/16 */
.form-input-filter_question > input[type=radio] { display:none;}
.filter_question-yes, .filter_question-no {font-size:0px !important;}
.form-input-filter_question > input[type=radio] + label.filter_question-yes {
  width: 84px !important;
  height: 34px !important;
  background: url(../images/no_yes_button.png) no-repeat 0 0;
  margin-right: 5px;
}
.form-input-filter_question > input[type=radio]:checked + label.filter_question-yes {
  background-position: 0 -34px;
}
.form-input-filter_question > input[type=radio] + label.filter_question-no {
  width: 84px !important;
  height: 34px !important;
  background: url(../images/no_yes_button.png) no-repeat -84px 0;
  margin-right: 5px;
}
.form-input-filter_question > input[type=radio]:checked + label.filter_question-no {
  background-position: -84px -34px;
}

.form-input-filter_question > input[type=radio].error + label { border: 2px solid #ff0000; }

.form-input-section .question {
	font-size: 18px; color: #565656;
}

.form-input-section {
	position: relative;
	margin-bottom: 15px;
	font-size: 18px;
}

.form-select-birth {
	display: inline-block;
}

.form-input-gender > input[type=radio] { display: none; }

#form_box label.error {
    float: none;
    font-size: 12px;
    width: auto !important;
}

/* AGREE CHECK */
.agree-check label { cursor: pointer; padding: 0 !important; margin-right: 10px; display: inline-block; float: left !important; width: 83px !important; height: 34px !important; line-height: normal; font-size: 0; }
.agree-check input[type="checkbox"] { display: none; }
.agree-check input[type="checkbox"] + label { background: url(../images/i-agree.png) no-repeat 0 0; }
.agree-check input[type="checkbox"]:checked + label { background-position: 0 -34px; }
.agree-check input[type="checkbox"].error + label { border: 2px solid #ff0000; }
/* AGREE CHECK */
/* NEW LEAD REACTOR CSS END */


/* Admired Opinions */
.navbar-header {
	padding: 15px 0;
}
.navbar {
    min-height: 100px;
}
.navbar-inverse {
    background-color: #6182a2 !important;
    border: none;
}
#progress-bar {
    height: 100px;
    padding: 25px 0;
    margin-right: 0;
    margin-left: 0;
    float: right;
    max-width: 495px;
    width: 100%;
}
#head-title {
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.welcome {
    margin-bottom: 10px;
}
.welcome-description {
    margin-left: 40px;
    overflow: hidden;
}
.welcome-title {
    margin-top: 2px;
    margin-bottom: 4px;
}
.survey_form  > img {
	width: 100%;
}
/* Admired Opinions */

.stack_survey_form > #contentbox > div > table,
.stack_survey_form > #contentbox > table {
	width: 100%;
}
.offer-column-1 { width: 30%; }
.offer-column-2 { width: 55%; }
.offer-column-3 { width: 15%; text-align: right; }

@media screen and (max-width: 1199px) {
	body {
		padding-top: 200px !important;
	}

	#progress-bar {
		float: none;
		height: auto;
		text-align: center;
	}
}

@media screen and (max-width: 991px) {
	.col-two {
		padding-top: 20px;
	}
}


@media screen and (max-width: 768px) {
	#progress-bar > img {
		width: 100%;
		height: auto !important;
	}
	#contentbox div#form_box {
		padding-bottom: 30px;
	}
}

@media screen and (max-width: 550px) {
	body {
		padding-top: 170px !important;
	}

	#progress-bar {
		padding: 15px 0;
	}
	.navbar-header {
		padding-left: 15px;
		padding-right: 15px;
	}
	.navbar-brand > img,
	.navbar-header > img	{
		width: 100%;
		height: auto;
	}

	.navbar-brand {
		height: initial;
	}
}

@media screen and (max-width: 380px) {
	body {
		padding-top: 120px !important;
	}
}

/********************************************************
index php styles
********************************************************/

.survey_takers_num {
	color: #4d8478; 
	border: 2px solid #10aa85; 
	padding: 1px 2px 1px 6px; 
	margin-right: 5px;
}

#engage_clock1 {
	color: #4d8478;
}

.survey_takers_div {
	text-align:center;
}
.index_div_form {
	text-align:center;
}
.index_p_form {
	font-size: 25px; 
	color: #565656;
}
.index_div_form_div {
	text-align: center;
}
div.clear_both {
	clear:both;
}

/***************************************************************
footer
****************************************************************/
.popup-feedback {
	display: block !important; 
	color: white !important;
}

.feedback_private_policy {
	color: white !important;
}

.feedback_terms_of_service {
	color: white !important;
}

/****************************************************
questions 
****************************************************/
#div_contentbox {
	padding-right: 20px; 
	padding-left: 20px; 
	padding-top: 15px; 
	padding-bottom: 15px; 
	position: relative; 
	border: solid 5px #636363;
}

/*****************************************************
registration
******************************************************/

.span_welcome {
	color: #11ac9f;
}
.span_opinion {
	color: #fb5b3d;
}
div.registration {
	width: 100%;
}
.select_dobmonth {
	width:45px;
}
.select_dobdate {
	width:45px;
}
.select_dobyear {
	width:60px;
}
.gender-m {
	font-size:0px;
}
.gender-f {
	font-size:0px;
}
*.icon_left{
	color: #ffb900;
}
*.icon_group_left {
	color: #0078d7;
}
*.icon_green {
	color: green;
}
*.icon_star {
	color: yellow;
}