/*****************************
*** 1. Grid and Layout
*** 2. Backgrounds 
*** 3. Fonts - colors and sizes
*** 4. Header
*** 5. Warning
*** 6. Form
*** 7. Sub-forms
*** 8. error
*** 9. Scroll bar
*** 10. mobile (sm)
*** 11. mobile (xs)
******************************/


/**
*** 1. Grid and Layout
**/

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

.row:before,
.container:before {
    content: '';
    display: table;
}

.row:after,
.container:after {
    content: " ";
    display: table;
    clear: both;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 580px;
}
.navbar > .container {
	max-width: 1170px;
	width: 100%;
}

.header {
    width: 100%;
    margin: 40px 0 10px 0;
    overflow: auto;
}


/**
*** 2. Backgrounds
**/


/**
*** 3. Fonts - colors and sizes
**/

body {
    font-family: verdana, sans-serif, arial;
}

h1,
h2,
h3 {
    color: #294461;
    margin: 0;
}

h2 {
    font-size: 18px;
    line-height: 1.5em;
}

h3 {
    font-size: 12px;
    line-height: 2em;
    max-width: 450px;
}

label,
p,
li {
    color: #222222;
    font-size: 14px;
    line-height: 1.5em;
    margin: 5px 0;
}

label {
    font-weight: bold;
}


/**
*** 4. Header
**/

.header {
    display: table;
}

.header-title,
.header-txt {
    display: table-cell;
    vertical-align: middle;
}

.header-img {
    float: left;
}

.header-txt {
    font-size: 12px;
    padding: 0 25px;
}

.header-txt span {
    display: block;
}


/**
*** 5. Warning
**/

.warning {
    background: #dfdfdf url(../images/lock.svg) 25px center no-repeat;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    background-size: 30px;
}

.warning.error {
    background-image: url(../images/warning.svg);
    background-repeat: no-repeat;
    background-position: 20px center;
    background-color: #e61515;
    background-size: 56px;
}

.warning-txt {
    font-size: 13px;
    color: #4e4e4e;
    padding: 10px 0;
}

.warning-error-txt {
    font-size: 14px;
    color: #ffffff;
    padding: 10px 0;
}

.warning-error-txt span {
    font-size: 16px;
    text-transform: uppercase;
    display: block;
}

.warning .warning-error-txt,
.warning.error .warning-txt {
    display: none;
    opacity: 0;
}

.warning.error .warning-error-txt {
    opacity: 1;
    display: block;
    padding-left: 80px;
}

.warning .warning-txt {
    opacity: 1;
    display: block;
    padding-left: 60px;
}


/**
*** 6. Form
**/

.hide {
    display: none;
}

.radio-form {
    margin-left: 25px;
}

.radio-container {
    cursor: pointer;
}

.radio-form .radio-container {
    width: 55px;
}

.radio-form .radio-container .radio-box {
    background: transparent url(../images/radio-unchecked.svg) left center no-repeat;
    background-size: 20px;
    padding-left: 25px;
    font-size: 12px;
}

.radio-form .radio-container.check .radio-box {
    background: transparent url(../images/radio-check.svg) left center no-repeat;
    background-size: 20px;
}

.form-container {
    display: none;
    margin-top: 30px;
}

.radio-box {
    background: transparent url(../images/radio-unchecked.svg) left center no-repeat;
    padding-left: 40px;
    font-weight: normal;
    margin-top: 10px;
    height: 32px;
    line-height: 30px;
    min-width: 140px;
    overflow: hidden;
}

.radio-inline .radio-container {
    display: inline-block;
}

.radio-container.check .radio-box {
    background: transparent url(../images/radio-check.svg) left center no-repeat;
}

.radio-box:hover {
    background: transparent url(../images/radio-unchecked-hover.svg) left center no-repeat;
}

label.error .radio-box {
    background: transparent url(../images/radio-error.svg) left center no-repeat;
}

label.error.pass .radio-box {
    background: transparent url(../images/radio-unchecked.svg) left center no-repeat;
}

label.error.pass .radio-container.check .radio-box.pass {
    background: transparent url(../images/radio-check.svg) left center no-repeat;
}

.check-box {
    background: transparent url(../images/checkbox-unchecked.svg) left center no-repeat;
    padding-left: 40px;
    font-weight: normal;
    margin-top: 10px;
    height: 32px;
    line-height: 30px;
    overflow: hidden;
}

.check-box:hover {
    background: transparent url(../images/checkbox-unchecked-focus.svg) left center no-repeat;
}

.check-inline .check-container {
    display: inline-block;
}

.check-container {
    cursor: pointer;
    overflow: hidden;
}

.check-container.check .check-box {
    background: transparent url(../images/checkbox-check.svg) left center no-repeat;
}

.check-container.error .check-box {
    background: transparent url(../images/checkbox-error.svg) left center no-repeat;
    color: #e61515;
}

.check-container.error .check-box small {
    color: #e61515;
}

.checkbox.error .subform-brand,
label.error .radio .subform-brand {
    border: 2px solid #e61515;
}

.checkbox.error .subform-brand:before,
label.error .radio .subform-brand:before {
    background: url(../images/subform-brand-error.svg) no-repeat center center;
    top: -41px;
}

form,
.form-personal,
.form-brand,
.form-others {
    margin-bottom: 60px;
}

label,
input,
.select {
    display: block;
}

label {
    margin-top: 25px;
}

label small {
    font-size: 12px;
    color: #a7a7a7;
    font-weight: normal;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 250px;
    height: 40px;
    text-indent: 10px;
    border: 1px solid #9b9b9b;
}

input.input-sm {
    width: 189px;
}

input.input-md {
    width: 385px;
}

input.input-lg {
    width: 578px;
}

input:hover {
    border: 1px solid #3e7191;
}

input:focus {
    border: 1px solid #1592e6;
    box-shadow: 0 0 5px rgba(21, 146, 230, 1);
}

.form-label {
    font-weight: normal;
}

.radio label,
.radio input {
    display: inline-block;
}

.radio-inline .form-label {
    width: 90px;
}

.form-disclaimer {
    font-size: 9px;
    color: #6d6d6d;
    letter-spacing: .12px;
}

.inline label,
.inline .select {
    display: inline-block;
}

.form-signature {
    display: table;
    margin-bottom: 15px;
}

.col {
    display: table-cell;
    vertical-align: top;
}

.form-signature label {
    margin: 10px 0;
}

.form-signature label ul {
    padding-left: 15px;
    margin: 10px 0;
}

.form-signature label ul li {
    margin-bottom: 5px;
    font-size: 12px;
}

.select {
    border: solid 1px #9b9b9b;
    width: 66.33%;
    vertical-align: middle;
    height: 40px;
    background: #fff url(../images/arrow-down.svg) no-repeat right center;
    font-family: verdana;
    color: #d5d5d5;
    top: -1px;
    cursor: pointer;
}

.select:hover {
    background: #fff url(../images/arrow-down-hover.svg) no-repeat right center;
    border: solid 1px #3e7191;
}

.select:focus {
    background: #fff url(../images/arrow-down-focus.svg) no-repeat right center;
    border: 1px solid #1592e6;
    box-shadow: 0 0 5px rgba(21, 146, 230, 1);
}

.list:hover {
    border: solid 1px #3e7191;
}

.list:focus {
    border: 1px solid #1592e6;
    box-shadow: 0 0 5px rgba(21, 146, 230, 1);
}

.inline-select .select {
    display: inline-block;
    width: 32.66%;
}

.inline-select.single-select .select {
    width: 305px;
}

.inline .select {
    width: 380px;
}

.inline .select.md {
    width: 376px;
}

.md-select {
    width: 250px;
}

.md-select .select {
    width: 100%;
}

.list {
    opacity: 0;
    margin-top: 0;
    overflow: auto;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: 9;
    max-height: 450px;
    border: solid 1px #9b9b9b;
    background: #fff;
    padding: 0;
    left: 0;
}

.select.open .list {
    left: -1px;
    opacity: 1;
    pointer-events: auto;
    position: relative;
    width: 100%;
}

.list.focus {
    border: 1px solid #1592e6;
    box-shadow: 0 0 5px rgba(21, 146, 230, 1);
}

.select .option:not(.disabled):hover {
    background-color: #1592e6;
    color: #ffffff;
}

.select .option {
    cursor: pointer;
    line-height: 1.2em;
    min-height: 40px;
    text-align: left;
    border-bottom: solid 1px #9b9b9b;
    margin: 0;
    padding: 10px;
    font-weight: normal;
}

.select .option:focus {
    background-color: #1592e6;
    color: #ffffff;
}

.select .option:last-child {
    border-bottom: 0;
}

.current {
    line-height: 40px;
    padding-left: 10px;
    color: #9b9b9b;
    font-weight: normal;
}

.submit {
    border: 0;
    padding: 0;
    margin: 40px 0;
    cursor: pointer;
    background: url(../images/submit.svg) no-repeat center center;
    height: 84px;
    width: 463px;
}

.submit:before {
    content: url('../images/submit-hover.svg');
    width: 0;
    height: 0;
    visibility: hidden;
}

.submit:hover {
    background: url(../images/submit-hover.svg) no-repeat center center;
}

.submit:active {
    background: url(../images/submit-click.svg) no-repeat center center;
}


/**
*** 7. Sub-Forms
**/

.form-subform {
    display: none;
}

.subform-personal,
.subform-brand {
    background: #ffffff;
    padding: 25px 25px 46px 25px;
    border: solid 1px #cccfd1;
}

.subform-personal {
    margin: 20px -25px;
}

.subform-personal:before {
    content: '';
    position: relative;
    left: 150px;
    top: -38px;
    padding-left: 16px;
    background: url(../images/subform-personal.svg) no-repeat center center;
}

.subform.subform-personal:before {
    left: 7.5px;
}

.subform-brand {
    margin: 20px;
    display: none;
}

.subform-brand.active {
    display: block;
}

.subform-brand:before {
    content: '';
    position: relative;
    left: 40px;
    top: -39px;
    padding-left: 21px;
    background: url(../images/subform-brand.svg) no-repeat center center;
}

.subform-brand label {
    font-size: 12px;
    margin: 0;
	text-align: left;
}


/**
*** 8. error
**/

input.error {
    border: 2px solid #e61515 !important;
}

label.error .inline-select .select,
label.error .select.md,
.checkbox.error .select {
    border: 2px solid #e61515;
    background: #fff url(../images/arrow-down-error.svg) no-repeat right center;
}

label.error,
label.error .checkbox.error,
label.error .checkbox.error small,
label.error small,
label.error .form-signature label,
label.error .form-signature label .signature li {
    color: #e61515;
}

label.error .checkbox,
label.error .checkbox small,
label.error.pass {
    color: #222222;
}

/* RIAN EDITS */
.slide-thanks { border: 1px solid #d4d4d4; margin: 0 0 10px; padding: 15px 15px 0; background: #f8f8f8; text-align: center; }
.slide-thanks h3 { margin: 0 0 5px; color: green; font-size: 18px; }
.slide-thanks > p { margin: 0 0 30px; font-size: 16.3px; }
.slide-thanks p strong { font-size: 12px; }
.slide-thanks p span { color: green; }
.slide-thanks .ty-img { width: 100%; max-width: 300px; margin: 0 0 10px; }
.step { margin-bottom: 20px; }
.step-box { background: #fff; display: table; margin: 0 40px; padding: 15px 0; -webkit-box-shadow: 0 3px 3px 2px rgba(143, 143, 143, 0.2); -moz-box-shadow: 0 3px 3px 2px rgba(143, 143, 143, 0.2); box-shadow: 0 3px 3px 2px rgba(143, 143, 143, 0.2); }
.step-number, .step-txt { display: table-cell; line-height: 1.5em; vertical-align: middle; }
.step-txt { text-align: left; }
.step-txt p { margin: 0; }
.step-number { width: 15%; color: #294461; font-size: 60px; font-family: sans-serif; }
.step-img { width: 2rem; }
.step-disclaimer small { font-size: 10px; }
.step-disclaimer { margin: 5px 0 0; }
.longform-skip { display: block; margin: 0 auto; background: #f55e1c; border: none; color: #fff; padding: 10px 20px; cursor: pointer; }

/**
*** 9. Scroll Bar
**/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(239, 239, 239, 1);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(155, 155, 155, 1);
}


/**
*** 10. Mobile (sm)
**/

@media only screen and (min-device-width: 320px) and (max-device-width: 734px) {
    /**
     *** a. Grid and Layout
     **/
    .container {
        width: 22.5em;
    }
    .header {
        margin: 10px 0;
        margin-bottom: 0;
    }
    .header-title {
        width: 100px;
    }
    .header-img {
        width: 100%;
        height: auto;
    }
    .header-txt {
        font-size: 9px;
        padding: 0 15px;
    }
    .warning {
        margin-left: -1em;
        background: #dfdfdf url(../images/lock.svg) 15px center no-repeat;
        top: 312px;
        position: absolute;
        width: 24.5em;
        background-size: 15px;
		left: 20px;
    }
    .warning-txt {
        font-size: 8.5px;
        margin: 0;
    }
    .warning .warning-txt {
        padding-left: 30px;
    }
    input {
        width: 100%;
        height: 45px;
    }
    input.input-sm,
    input.input-md,
    input.input-lg {
        width: 100%;
    }
    .md-select {
        width: 100%
    }
    .select {
        background-image: url(../images/arrow-down-sm.svg);
        background-repeat: no-repeat;
        background-position: 90% 50%;
        background-color: #ffffff;
        background-size: 13px;
        height: 45px;
    }
    .sm-select .select,
    .single-select .select {
        background-position: 97% 50%;
    }
    .inline-select .select {
        display: inline-block;
        width: 9.7777em;
    }
    .inline-select.single-select .select,
    .inline-select.sm-select .select {
        width: 100%;
    }
    .list:focus,
    .list:hover {
        border: 1px solid #1592e6;
        box-shadow: 0 0 5px rgba(21, 146, 230, 1);
    }
    .select:focus,
    .select:hover {
        background-image: url(../images/arrow-down-sm-focus.svg);
        background-position: 90% 50%;
        border: 1px solid #1592e6;
        box-shadow: 0 0 5px rgba(21, 146, 230, 1);
        background-size: 13px;
    }
    .sm-select .select:focus,
    .single-select .select:focus,
    .sm-select .select:hover,
    .single-select .select:hover,
    .inline .select,
    .inline .select:hover,
    .inline .select:focus {
        background-position: 97% 50%;
    }
    .inline .select,
    .inline .select.md {
        width: 24.8888em;
    }
    label.error .select,
    label.error .inline-select .select,
    .checkbox.error .select {
        background-image: url(../images/arrow-down-sm-error.svg);
        background-repeat: no-repeat;
        background-position: 90% 50%;
        background-color: #ffffff;
        background-size: 13px;
    }
    label.error .sm-select .select,
    label.error .single-select .select,
    .checkbox.error .select {
        background-position: 97% 50%;
    }
    label,
    p,
    li {
        font-size: 12px;
    }
    h2 {
        font-size: 14px;
    }
    h3 {
        line-height: 1.6em;
    }
    label {
        margin-top: 15px;
    }
    label small {
        font-size: 10px;
    }
    .form-label {
        width: 80%
    }
    .subform-personal {
        margin: 10px -10px;
        padding: 25px 10px;
    }
    .subform-brand {
        margin: 15px;
        padding: 0 15px 15px 15px;
    }
    .checkbox,
    .radio {
        margin-top: 5px;
    }
    .check-box,
    .radio-box {
        line-height: 1.2em;
        padding-top: 7.5px;
        overflow: hidden;
    }
    form {
        margin-bottom: 0;
    }
    .form-personal,
    .form-brand,
    .form-others {
        margin-bottom: 40px;
    }
    .radio-inline .form-label {
        width: 80px
    }
    .warning.error {
        background-position: 10px center;
        background-size: 45px;
    }
    .warning-error-txt,
    .warning-error-txt span {
        font-size: 10px;
        padding: 0;
    }
    .warning.error .warning-error-txt {
        padding-left: 50px;
    }
    .subform-brand:before {
        top: -8px;
    }
    .subform-brand {
        line-height: 0.8em;
    }
    .checkbox.error .subform-brand:before,
    label.error .radio .subform-brand:before {
        background: url(../images/subform-brand-error.svg) no-repeat center center;
        top: -9.5px;
    }
    .header-txt span {
        display: inline;
    }
    .radio-form {
        margin-left: 5px;
    }
    .form-container {
        margin-top: 90px
    }
    .submit {
        background-image: url(../images/submit-sm.svg);
        background-repeat: no-repeat;
        background-position: left center;
        margin-left: -2rem;
        width: 26.2222rem;
        margin-bottom: 0;
        margin-top: 1.5rem;
        height: 5rem;
    }
    .submit:active,
    .submit:hover {
        background-image: url(../images/submit-sm-click.svg);
    }
}


/**
*** 11. Mobile (specifics)
**/

@media screen and ( max-width: 550px ) {
	.warning {
		top: 280px;
	}
}
@media screen and ( max-width: 380px ) {
	.warning {
		top: 240px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
    .container {
        width: 20em;
    }
	.lg-select {
		width: 100%;
	}
    .inline-select .select {
        width: 5.8rem;
    }
    .inline .select,
    .inline .select.md {
        width: 18.8888em;
    }
    .check-box{
        line-height: 1em;
    }
    .warning {
        margin-left: -0.5em;
        width: 20em;
    }
    .submit {
        margin-left: 10px;
        width: 22rem;
        height: 4rem;
    }
    h2 {
        font-size: 12px;
    }
    label,
    p,
    li {
        font-size: 11px;
    }
    .form-signature label ul li {
        font-size: 10px;
    }
    .label {
        font-size: 9px;
    }
    .header-txt {
        padding-right: 0;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 374px) {
    .container {
        width: 30rem;
    }
	.lg-select {
		width: 100%;
	}
    .inline-select .select {
        width: 6.5rem;
    }
    .inline .select,
    .inline .select.md {
        width: 16.1111rem;
    }
    .warning {
        margin-left: -0.5em;
        width: 21rem;
    }
    .submit {
        margin-left: -1.5rem;
        width: 17rem;
        height: 4.5rem;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 409px) {
    .container {
        width: 18em;
    }
    .inline-select .select {
        width: 8.6666em;
    }
    .inline .select,
    .inline .select.md {
        width: 21.5555em;
    }
    .warning {
        margin-left: -0.5em;
        width: 21em;
    }
    .submit {
        margin-left: -2rem;
        width: 23.7rem;
        height: 4.6666rem
    }
    .label {
        font-size: 10px;
    }
    .check-box,
    .radio-box {
        padding-top: 5px;
    }
}

@media only screen and (min-device-width: 410px) and (max-device-width: 599px) {
    .check-box,
    .radio-box {
        padding-top: 5px;
    }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 734px) {
    .container {
        width: 32rem;
    }
    .inline-select .select {
        width: 10.5rem;
    }
    .inline .select,
    .inline .select.md {
        width: 28.1111rem;
    }
    .warning {
        margin-left: -0.5em;
        width: 33rem;
    }
    .submit {
        margin-left: -3rem;
        width: 37.5555rem;
        height: 7.2222rem;
    }
    .label {
        font-size: 12px;
    }
    .check-box,
    .radio-box {
        padding-top: 5px;
    }
}


/* Specific styles for IE */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .warning {
        background: #dfdfdf url(../images/lock.svg) -110px center no-repeat;
        background-size: 50%;
    }
    .warning.error {
        background-position: -120px center;
        background-size: 60%;
    }
    /*radio*/
    .radio-box {
        background: transparent url(../images/radio-unchecked.svg) -245px center no-repeat;
        height: 36px;
        background-size: 90%;
    }
    .radio-container.check .radio-box {
        background: transparent url(../images/radio-check.svg) -245px center no-repeat;
        height: 36px;
        background-size: 90%;
    }
    .radio-box:hover {
        background: transparent url(../images/radio-unchecked-hover.svg) -245px center no-repeat;
        height: 36px;
        background-size: 90%;
    }
    label.error .radio-box {
        background: transparent url(../images/radio-error.svg) -52px center no-repeat;
        height: 36px;
        background-size: 90%;
    }
    /*radio*/
    /*radio-inline*/
    .radio-inline .radio-box {
        background: transparent url(../images/radio-unchecked.svg) -45px center no-repeat;
        background-size: 135px;
        background-size: 90%;
    }
    .radio-inline .radio-container.check .radio-box {
        background: transparent url(../images/radio-check.svg) -45px center no-repeat;
        background-size: 135px;
        background-size: 90%;
    }
    .radio-inline .radio-box:hover {
        background: transparent url(../images/radio-unchecked-hover.svg) -45px center no-repeat;
        background-size: 135px;
        background-size: 90%;
    }
    .error .radio-inline .radio-box {
        background-size: 135px;
        background-size: 90%;
    }
    /*radio-inline*/
    /*radio-form: initial view*/
    .radio-form .radio-container .radio-box {
        background: transparent url(../images/radio-unchecked.svg) -35px center no-repeat;
        height: 32px;
        background-size: 92px;
    }
    .radio-form .radio-container.check .radio-box {
        background: transparent url(../images/radio-check.svg) -35px center no-repeat;
        height: 32px;
        background-size: 92px;
    }
    .radio-form .radio-box:hover {
        background: transparent url(../images/radio-unchecked-hover.svg) -35px center no-repeat;
        height: 32px;
        background-size: 92px;
    }
    /*radio-form*/
    /*normal checkboxes*/
    .check-box {
        background: transparent url(../images/checkbox-unchecked.svg) 0 center no-repeat;
        background-size: 90%;
        height: 32px;
    }
    .check-box:hover {
        background: transparent url(../images/checkbox-unchecked-focus.svg) 0 center no-repeat;
        background-size: 90%;
    }
    .check-container.check .check-box {
        background: transparent url(../images/checkbox-check.svg) 0 center no-repeat;
        background-size: 90%;
    }
    /*normal checkboxes*/
    /*has-hidden checkboxes*/
    .check-box.has-hidden {
        background: transparent url(../images/checkbox-unchecked.svg) -245px center no-repeat;
        background-size: 90%;
        height: 32px;
    }
    .check-box.has-hidden:hover {
        background: transparent url(../images/checkbox-unchecked-focus.svg) -245px center no-repeat;
        background-size: 90%;
    }
    .check-container.check .check-box.has-hidden {
        background: transparent url(../images/checkbox-check.svg) -245px center no-repeat;
        background-size: 90%;
    }
    /*has-hidden checkboxes*/
    .select {
        background: #fff url(../images/arrow-down.svg) no-repeat 70px center;
    }
    .select:hover {
        background: #fff url(../images/arrow-down-hover.svg) no-repeat 70px center;
    }
    .select:focus {
        background: #fff url(../images/arrow-down-focus.svg) no-repeat 70px center;
    }
    .subform-brand .select {
        background-size: 100%;
        background-position: 165px center;
    }
    .subform-personal:before {
        left: 150px;
        top: -38px;
        padding-left: 16px;
        background: url(../images/subform-personal.svg) no-repeat center center;
    }
    .subform-brand:before {
        left: 40px;
        top: -39px;
        padding-left: 21px;
        background: url(../images/subform-brand.svg) no-repeat center center;
    }
    .single-select.inline-select .select {
        background-size: 100%;
        background-position: 125px center;
    }
    .md-select .select {
        background: #fff url(../images/arrow-down.svg) no-repeat 100px center;
    }
    /*errors in IE*/
    label.error .radio-form .radio-box {
        height: 32px;
        background-size: 92px;
    }
    label.error .radio-inline .radio-container .radio-box {
        background: transparent url(../images/radio-error.svg) -45px center no-repeat;
        height: 36px;
        background-size: 90%;
    }
    label.error .radio-container .radio-box {
        background: transparent url(../images/radio-error.svg) -244px center no-repeat;
        height: 36px;
        background-size: 90%;
    }
    .check-container.error .check-box {
        background: transparent url(../images/checkbox-error.svg) left center no-repeat;
        height: 36px;
        background-size: 90%;
    }
    .checkbox.error .subform-brand:before,
    label.error .radio .subform-brand:before {
        background: url(../images/subform-brand-error.svg) no-repeat center center;
        height: 36px;
        background-size: 90%;
    }
    label.error .inline-select .select,
    .error.checkbox .select {
        background-size: 100%;
        background-position: 70px center;
    }
    label.error .single-select.inline-select .select {
        background-size: 100%;
        background-position: 125px center;
    }
    label.error .inline-select .select,
    .checkbox.error .select {
        background-image: url(../images/arrow-down-error.svg);
    }
    .error .inline-select.md-select .select {
        background: #fff url(../images/arrow-down-error.svg) no-repeat 100px center;
    }
    .checkbox.error .form-subform.subform-brand .select {
        background: #fff url(../images/arrow-down-error.svg) no-repeat 165px center;
    }
    /*errors in IE*/
}
