/*****************************
*** 1. Grid and Layout
*** 2. Backgrounds
*** 3. Fonts - colors and sizes
*** 4. Body - steps
*** 5. Mobile
******************************/

/**
*** 1. Grid and Layout
**/
*,
*:after,
*:before {
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.row:before,
.container:before {
    content: " ";
    display: table;
}
.row:after,
.container:after {
    content: " ";
    display: table;
    clear: both;
}
.container{
	margin-left: auto;
	margin-right: auto;
	width: 580px;
}
.thanks {
	margin-top: 100px;
	margin-bottom: 40px;
}
.thanks img {
	margin-left: 5rem;
	margin-right: 5rem;
}
.step {
	margin-bottom: 20px;
}
/**
*** 2. Backgrounds
**/
body {
	background-color: #f8f8f8;
}
.step-box {
	background-color: #ffffff;
}
/**
*** 3. Fonts - colors and sizes
**/
h1 {
	color: #294461;
	font-family: verdana, sans-serif, arial;
}
p {
	color: #222222;
	font-family: verdana, sans-serif, arial;
	font-size: 16px;
}
small {
	font-size: 65%;
	color: #868686;
}
.thanks-txt {
	font-size: 16.3px;
	margin: 0; 
	line-height: 1.5em;
}
.thanks,
.step-disclaimer,
.step-number {
	text-align: center;
}
/**
*** 4. Body - steps
**/
.step-box {
	display: table;
	margin: 0 40px;
	padding: 10px 0;
	-webkit-box-shadow: 0 3px 3px 2px rgba(143, 143, 143, 0.2);
  	-moz-box-shadow: 0 3px 3px 2px rgba(143, 143, 143, 0.2);
	box-shadow: 0 3px 3px 2px rgba(143, 143, 143, 0.2);
}
.step-number,
.step-txt {
	display: table-cell;
	line-height: 1.5em;
	vertical-align: middle;
}
.step-txt {
	margin: 0;
}
.step-txt p {
	padding-right: 40px;
}
.step-disclaimer p {
	margin-top: 0;
}
.step-number {
	width: 15%;
	color: #294461;
	font-size: 60px;
	font-family: sans-serif;
}
.step-img {
	width: 2rem;
}
/**
*** 5. Mobile
**/
@media only screen and (min-device-width: 320px) and (max-device-width: 734px) {
	/**
	*** a. Grid and Layout
	**/
	.container{
        width: 22.5em;
    }
	.thanks {
		margin-top: 1.5em;
	}
	.thanks img {
		margin-left: 2rem;
		margin-right: 2rem;
	}
	/**
	*** b. Fonts - sizes
	**/
	.thanks-txt {
		font-size: 12px;
	}
	.step-txt p {
		font-size: 11px;
		line-height: 1.5em;
	}
	small {
		font-size: 60%;
	}
	.sm small {
		font-size: 45%;
	}
	/**
	*** c. Body - steps
	**/
	.step-box {
		margin: 0;
		padding: 0 10px;
	}
	.step-txt {
		padding-right: 5px;
	}
	.step-txt p {
		padding-right: 0;
	}
	.step-number {
		width: 17.5%;
	}
	.step-disclaimer p {
		margin-top: 2px;
		line-height: 0.8em;
	}
	/**
	*** d. Images
	**/
	.thanks-img{
		max-width: 80%;
		height: auto;
	}
	.step-img {
		max-width: 50%;
		height: auto;
	}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
    .container{
        width: 18em;
    }
}
@media only screen and (min-device-width: 360px) and (max-device-width: 374px) {
    .container{
        width: 20rem;
    }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 409px) {
    .container{
        width: 20em;
    }
}
@media only screen and (min-device-width: 600px) and (max-device-width: 734px) {
    .container{
        width: 32rem;
    }
    .step-box {
    	width: 512px;
    }
    .thanks-txt {
    	font-size: 15px;
    }
    .step-txt {
	    padding-right: 3.5rem;
	}
    .step-txt p {
    	font-size: 13px;
    }
    small {
		font-size: 70%;
	}
    .sm small {
		font-size: 60%;
	}
}

/* Specific styles for IE */
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .thanks-img{
    	width: 72%;
    }
    .step-number .step-img{
    	width: 42%;
    }
}